<div class="header" style=" background-image: url(./assets/stefan-stefancik-257625.jpg);" data-stellar-background-ratio="0.5">
  <nav>
      <a href="#">
          <img class="logo" src="./assets/LogoT_W.png">
      </a>
      <ul>

          <li>

          </li>
          <li class="login">
              <a href="#">se connecter</a>
          </li>
      </ul>

  </nav>
  <div class="head-content">

      <div class="text-head">
          <h1><strong>Transformation</strong> Opérationelle</h1>
          <p>balalalalaalllala</p>

      </div>

  </div>



</div>