footer{
    background-color: #EDEDED;
    background-size: cover;
    height: 200px;
    position: relative;
}

.footer-content{
    position: relative;
    margin-left: 450px;
    padding-top: 40px;
}

footer p {
    font-family: 'open sans', sans-serif;
    text-align: center;
    padding-top: 10px;
    color: grey;

    
}

footer .icone{
   
    height: 50px;
    padding: 16px;
    
}
