<article style=" background-image: url(./assets/StockSnap_2XCM40KGL8.jpg);" data-stellar-background-ratio="0.5">
  <div class="article">
    <div class="text-article">
      <p>Les<strong> chiffres en 2018</strong> </p>
        
      <div class="article-content">
          <img class="icone_article" title="Cabinets" src="./assets/3.svg">

          <img class="icone_article" title="Consultants" src="./assets/36m.svg">
         
          <img class="icone_article" title="Chiffre d'affaire" src="./assets/86.svg">
         
        </div>
        
     

    </div>

  </div>
</article>