article{
    height: 320px;
    background-size: cover;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 35px;
    
    
    
}

.article{
   
   height: 290px;
   margin-left: 75px;
   margin-right: 75px;
   background: rgba($color: white, $alpha: 0.6);
   
  
   

}

.text-article{
    text-align: center;
    font-size: 25px;
    padding-top: 5px;
}

.icone_article{
    height: 100px;
    //padding-bottom: 100px;
    //padding: 70px;
    
    
    
}

.article-content{
    display: flex;
    justify-content: space-around;
    

}
