<div class="page">
    <h3 class="title">Ce que nous
        <strong>faisons</strong>
    </h3>
    <section class="main">

        <div class="conteneur">
            <aside>
                <div class="content transformation">
                    <img src="./assets/pattern (1).svg" alt="">
                    <h4>
                        <strong>Transformation Operationelle</strong>
                    </h4>
                    <p>Ego vero sic intellego, Patres conscripti , nos hoc tempore in provinciis decernendis perpetuae pacis
                        habere oportere rationem</p>
                    <span class="blue">Plus de details</span>
                </div>
            </aside>


            <aside>
                <div class=" content conseil">
                    <img src="./assets/pattern (2).svg" alt="">
                    <h4>
                        <strong>Conseil</strong>
                    </h4>
                    <p>Ego vero sic intellego, Patres conscripti , nos hoc tempore in provinciis decernendis perpetuae pacis
                        habere oportere rationem</p>
                </div>
            </aside>


            <aside>
                <div class="content service1">
                    <img src="./assets/pattern.svg" alt="">
                    <h4>
                        <strong>Service</strong>
                    </h4>
                    <p>Ego vero sic intellego, Patres conscripti , nos hoc tempore in provinciis decernendis perpetuae pacis
                        habere oportere rationem</p>
                    <span class="red">Faire un devis</span>
                </div>
            </aside>
        </div>
        <div class="conteneur-2">
            <aside>
                <div class="content digital">
                    <div>
                        <img src="./assets/pattern (1).svg" alt="">
                    </div>
                    <h4>
                        <strong>Digital Factory</strong>
                    </h4>
                    <p>Ego vero sic intellego, Patres conscripti , nos hoc tempore in provinciis decernendis perpetuae pacis
                        habere oportere rationem.</p>
                    <span class="blue">Site Digital Factory</span>
                </div>
            </aside>


            <aside>
                <div class="content audit">
                    <img src="./assets/pattern (2).svg" alt="">
                    <h4>
                        <strong>Audit Flash</strong>
                    </h4>
                    <p>Ego vero sic intellego, Patres conscripti , nos hoc tempore in provinciis decernendis perpetuae pacis
                        habere oportere rationem</p>
                    <span class="yellow">Plus de details</span>
                </div>
            </aside>


            <aside>
                <div class="content service2">
                    <img src="./assets/pattern.svg" alt="">
                    <h4>
                        <strong>Service</strong>
                    </h4>
                    <p>Ego vero sic intellego, Patres conscripti , nos hoc tempore in provinciis decernendis perpetuae pacis
                        habere oportere rationem</p>
                </div>
            </aside>
        </div>
    </section>
</div>