<div class="page">
  <h1 class="title">Contactez-nous !</h1>
  <section class="main">
    <aside>
      <div class="content-digital">
        <h4>
          <strong>Aix</strong>
        </h4>
        <p>Ego vero sic intellego, Patres conscripti , nos hoc tempore in provinciis decernendis perpetuae pacis habere oportere
          rationem.</p>
        <span>+06 03 01 25 87</span>
      </div>
    </aside>
    <aside>
      <div class="content-digital">
        <h4>
          <strong>Toulouse</strong>
        </h4>
        <p>Ego vero sic intellego, Patres conscripti , nos hoc tempore in provinciis decernendis perpetuae pacis habere oportere
          rationem.</p>
        <span>+06 03 01 25 87</span>
      </div>
    </aside>
    <aside>
      <div class="content-digital">
        <h4>
          <strong>Rennes</strong>
        </h4>
        <p>Ego vero sic intellego, Patres conscripti , nos hoc tempore in provinciis decernendis perpetuae pacis habere oportere
          rationem.</p>
        <span>+06 03 01 25 87</span>
      </div>
    </aside>
  </section>
</div>