<div class="header" style=" background-image: url(./assets/stefan-stefancik-257625.jpg);" data-stellar-background-ratio="0.5">
  <nav>
      <ul>

          <li>
              <a >
                  <img class="logo" src="./assets/LogoT_W.png">
              </a>
          </li>
          <li class="login">
              <a routerLink="login" >se connecter</a>
          </li>
      </ul>

  </nav>
  <div class="head-content">

      <div class="text-head">
          <h1>Transformation Opérationelle</h1>
           

      </div>

  </div>



</div>


<div class="page">
  <section class="main">
    <h3 class="title">Ce que nous <strong>faisons</strong> </h3>
    <div class="conteneur">
        <aside >
            <div class="content transformation">
                <img src="../../assets/pattern (1).svg" alt="">
                <h4><strong>Transformation Operationelle</strong></h4>
                <p>Ego vero sic intellego, Patres conscripti
                , nos hoc tempore in provinciis decernendis
                perpetuae pacis habere oportere rationem</p>
                <span class="blue">Plus de details</span>
            </div>
        </aside>


        <aside>
            <div class=" content conseil">
                <img src="../../assets/pattern (2).svg" alt="">
                    <h4><strong>Conseil</strong></h4>
                    <p>Ego vero sic intellego, Patres conscripti
                    , nos hoc tempore in provinciis decernendis
                    perpetuae pacis habere oportere rationem</p>
            </div>
        </aside>


        <aside>
                <div class="content service1">
                    <img src="../../assets/pattern.svg" alt="">
                        <h4><strong>Service</strong></h4>
                        <p>Ego vero sic intellego, Patres conscripti
                        , nos hoc tempore in provinciis decernendis
                        perpetuae pacis habere oportere rationem</p>
                        <span class="red">Faire un devis</span>
                    </div>
        </aside>
    </div>
    <div class="conteneur">
        <aside>
                <div class="content digital">
                    <div> <img src="../../assets/pattern (1).svg" alt=""></div>
                        <h4><strong>Digital Factory</strong></h4>
                        <p>Ego vero sic intellego, Patres conscripti
                        , nos hoc tempore in provinciis decernendis
                        perpetuae pacis habere oportere rationem.</p>
                        <span class="blue">Site Digital Factory</span>
                    </div>
        </aside>

        
        <aside>
                <div class="content audit">
                    <img src="../../assets/pattern (2).svg" alt="">
                        <h4><strong>Audit Flash</strong></h4>
                        <p>Ego vero sic intellego, Patres conscripti
                        , nos hoc tempore in provinciis decernendis
                        perpetuae pacis habere oportere rationem</p>
                        <span class="yellow">Plus de details</span>
                    </div>
        </aside>


        <aside>
                <div class="content service2">
                    <img src="../../assets/pattern.svg" alt="">
                        <h4><strong>Service</strong></h4>
                        <p>Ego vero sic intellego, Patres conscripti
                        , nos hoc tempore in provinciis decernendis
                        perpetuae pacis habere oportere rationem</p>
                    </div>
        </aside>
    </div>
  </section>
</div>

<article style=" background-image: url(./assets/StockSnap_2XCM40KGL8.jpg);" data-stellar-background-ratio="0.5">
  <div class="article-content">
    <div class="text-article">
      <p>Les
        <strong>chiffres en 2018 </strong>
      </p>

    </div>

  </div>
</article>


<div class="page">
  <h1 class="title">Contactez-nous !</h1>
  <section class="main">
      <aside>
              <div class="content digital">
                  <h4><strong>Digital Factory</strong></h4>
                  <p>Ego vero sic intellego, Patres conscripti
                  , nos hoc tempore in provinciis decernendis
                  perpetuae pacis habere oportere rationem.</p>
                  <span>+06 03 01  25 87</span>
                  </div>
      </aside>
      <aside>
          <div class="content digital">
              <h4><strong>Digital Factory</strong></h4>
              <p>Ego vero sic intellego, Patres conscripti
              , nos hoc tempore in provinciis decernendis
              perpetuae pacis habere oportere rationem.</p>
              <span>+06 03 01  25 87</span>
              </div>
      </aside>
      <aside>
          <div class="content digital">
                  <h4><strong>Digital Factory</strong></h4>
                  <p>Ego vero sic intellego, Patres conscripti
                  , nos hoc tempore in provinciis decernendis
                  perpetuae pacis habere oportere rationem.</p>
                  <span>+06 03 01  25 87</span> 
                  </div> 
      </aside>
  </section>
</div>


<footer>
  <div class="footer-content">
      
        
    <p> Teletch'3000 © 2017</p>

  </div>

</footer>


